USE [master]
GO
/****** Object:  Database [dental]    Script Date: 3/5/2024 9:41:08 AM ******/
CREATE DATABASE [dental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dental]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[patient_id] [int] NULL,
	[datetime] [date] NULL,
	[note] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[delete_flag] [bit] NULL,
	[doctor_id] [int] NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas_of_expertise]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas_of_expertise](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[commentDetail] [nvarchar](max) NULL,
	[delete_flag] [bit] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__comment__3213E83F32FDA717] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foreign_Language]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foreign_Language](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prescriptionId] [int] NULL,
	[patientId] [int] NULL,
	[appointmentId] [int] NULL,
	[discount] [float] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[material_name] [nvarchar](50) NULL,
	[supplier] [nvarchar](50) NULL,
	[unitPrice] [float] NULL,
	[quantityInStock] [int] NULL,
	[Type] [bit] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord](
	[medicalRecordId] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_MedicalRecord] PRIMARY KEY CLUSTERED 
(
	[medicalRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord Details]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord Details](
	[mr_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[medicalRecord_id] [int] NULL,
	[appointment_id] [int] NULL,
	[service_id] [int] NULL,
	[prescription_id] [int] NULL,
	[diagnosis] [nvarchar](500) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_MedicalRecord Details] PRIMARY KEY CLUSTERED 
(
	[mr_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[manufacturer] [nvarchar](50) NULL,
	[expiry_date] [date] NULL,
	[input_day] [date] NULL,
	[price] [float] NULL,
	[quantityInStock] [int] NULL,
	[dosage] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tittle] [text] NULL,
	[brief_info] [text] NULL,
	[description] [text] NULL,
	[author] [int] NULL,
	[created_at] [date] NULL,
	[delete_flag] [bit] NULL,
	[featured] [bit] NULL,
	[img] [nvarchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participating_training_courses]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participating_training_courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[prescription_id] [int] IDENTITY(1,1) NOT NULL,
	[delete_flag] [bit] NULL,
	[created_date] [datetime] NULL,
	[doctor_id] [int] NULL,
	[note] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription Details]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription Details](
	[prescriptionDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[prescription_id] [int] NULL,
	[medicineId] [int] NULL,
	[quantity] [int] NULL,
	[dosageInstruction] [nvarchar](1000) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_Prescription Details] PRIMARY KEY CLUSTERED 
(
	[prescriptionDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](50) NULL,
	[brief_info] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[price] [float] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/5/2024 9:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[date_created] [date] NULL,
	[phone] [nchar](11) NULL,
	[email] [nvarchar](50) NULL,
	[img] [nvarchar](50) NULL,
	[description] [text] NULL,
	[salary] [float] NULL,
	[role] [int] NULL,
	[password] [nchar](50) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([appointment_id], [employee_id], [patient_id], [datetime], [note], [status], [delete_flag], [doctor_id]) VALUES (1, 2, 4, CAST(N'2024-03-01' AS Date), N'Routine checkup', N'2', 0, 9)
INSERT [dbo].[Appointment] ([appointment_id], [employee_id], [patient_id], [datetime], [note], [status], [delete_flag], [doctor_id]) VALUES (2, 8, 10, CAST(N'2024-03-02' AS Date), N'Toothache', N'2', 0, 9)
INSERT [dbo].[Appointment] ([appointment_id], [employee_id], [patient_id], [datetime], [note], [status], [delete_flag], [doctor_id]) VALUES (3, 12, 18, CAST(N'2024-03-03' AS Date), N'Cleaning appointment', N'3', 0, 9)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[Areas_of_expertise] ON 

INSERT [dbo].[Areas_of_expertise] ([id], [employee_id], [detail]) VALUES (1, 3, N'Database Management')
INSERT [dbo].[Areas_of_expertise] ([id], [employee_id], [detail]) VALUES (2, 9, N'Strategic Management')
INSERT [dbo].[Areas_of_expertise] ([id], [employee_id], [detail]) VALUES (3, 13, N'Creative Writing')
SET IDENTITY_INSERT [dbo].[Areas_of_expertise] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id], [patient_id], [commentDetail], [delete_flag], [created_at]) VALUES (1, 4, N'This is a comment for patient with ID 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 0, CAST(N'2024-03-04T16:53:35.237' AS DateTime))
INSERT [dbo].[comment] ([id], [patient_id], [commentDetail], [delete_flag], [created_at]) VALUES (2, 10, N'This is a comment for patient with ID 10. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', 0, CAST(N'2024-03-04T16:53:35.237' AS DateTime))
INSERT [dbo].[comment] ([id], [patient_id], [commentDetail], [delete_flag], [created_at]) VALUES (3, 18, N'This is a comment for patient with ID 18. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.', 0, CAST(N'2024-03-04T16:53:35.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Degree] ON 

INSERT [dbo].[Degree] ([id], [employee_id], [detail]) VALUES (1, 3, N'Bachelor of Science in Computer Science')
INSERT [dbo].[Degree] ([id], [employee_id], [detail]) VALUES (2, 9, N'Master of Business Administration')
INSERT [dbo].[Degree] ([id], [employee_id], [detail]) VALUES (3, 13, N'Bachelor of Arts in English Literature')
SET IDENTITY_INSERT [dbo].[Degree] OFF
GO
SET IDENTITY_INSERT [dbo].[Foreign_Language] ON 

INSERT [dbo].[Foreign_Language] ([id], [employee_id], [detail]) VALUES (1, 3, N'Spanish')
INSERT [dbo].[Foreign_Language] ([id], [employee_id], [detail]) VALUES (3, 13, N'French')
INSERT [dbo].[Foreign_Language] ([id], [employee_id], [detail]) VALUES (4, 17, N'German')
SET IDENTITY_INSERT [dbo].[Foreign_Language] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([material_id], [material_name], [supplier], [unitPrice], [quantityInStock], [Type], [delete_flag]) VALUES (1, N'Thuoc giam dau', N'abc', 200, 1, 1, 0)
INSERT [dbo].[Material] ([material_id], [material_name], [supplier], [unitPrice], [quantityInStock], [Type], [delete_flag]) VALUES (2, N'Thuoc khang sinh', N'xyz', 100, 2, 0, 0)
INSERT [dbo].[Material] ([material_id], [material_name], [supplier], [unitPrice], [quantityInStock], [Type], [delete_flag]) VALUES (7, N'Material 1', N'Supplier 1', 10.5, 100, 1, 0)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecord] ON 

INSERT [dbo].[MedicalRecord] ([medicalRecordId], [patientId], [delete_flag]) VALUES (1, 3, 0)
INSERT [dbo].[MedicalRecord] ([medicalRecordId], [patientId], [delete_flag]) VALUES (2, 4, 0)
INSERT [dbo].[MedicalRecord] ([medicalRecordId], [patientId], [delete_flag]) VALUES (3, 10, 0)
SET IDENTITY_INSERT [dbo].[MedicalRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecord Details] ON 

INSERT [dbo].[MedicalRecord Details] ([mr_detail_id], [medicalRecord_id], [appointment_id], [service_id], [prescription_id], [diagnosis], [delete_flag]) VALUES (2, 2, 1, 2, 1, N'strin2g', 0)
INSERT [dbo].[MedicalRecord Details] ([mr_detail_id], [medicalRecord_id], [appointment_id], [service_id], [prescription_id], [diagnosis], [delete_flag]) VALUES (3, 2, 2, 2, 1, N'string', 0)
SET IDENTITY_INSERT [dbo].[MedicalRecord Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([id], [name], [manufacturer], [expiry_date], [input_day], [price], [quantityInStock], [dosage], [description], [delete_flag]) VALUES (1, N'Gan', N'abc', CAST(N'2025-02-22' AS Date), CAST(N'2024-02-22' AS Date), 800, 30, N's 2 t 2', N'xyz', 0)
INSERT [dbo].[Medicine] ([id], [name], [manufacturer], [expiry_date], [input_day], [price], [quantityInStock], [dosage], [description], [delete_flag]) VALUES (2, N'Than', N'xyz', CAST(N'2025-02-22' AS Date), CAST(N'2024-02-22' AS Date), 500, 10, N'toi 2', N'abc', 0)
INSERT [dbo].[Medicine] ([id], [name], [manufacturer], [expiry_date], [input_day], [price], [quantityInStock], [dosage], [description], [delete_flag]) VALUES (4, N'string', N'string', CAST(N'2024-02-28' AS Date), CAST(N'2024-02-28' AS Date), 0, 0, N'string', N'string', 1)
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Participating_training_courses] ON 

INSERT [dbo].[Participating_training_courses] ([id], [employee_id], [detail]) VALUES (1, 3, N'SQL Fundamentals')
INSERT [dbo].[Participating_training_courses] ([id], [employee_id], [detail]) VALUES (2, 9, N'Project Management Professional (PMP) Certification')
INSERT [dbo].[Participating_training_courses] ([id], [employee_id], [detail]) VALUES (3, 13, N'Technical Writing Workshop')
SET IDENTITY_INSERT [dbo].[Participating_training_courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([prescription_id], [delete_flag], [created_date], [doctor_id], [note]) VALUES (1, 0, CAST(N'2024-03-03T16:12:27.907' AS DateTime), 9, N'No special instructions')
INSERT [dbo].[Prescription] ([prescription_id], [delete_flag], [created_date], [doctor_id], [note]) VALUES (2, 0, CAST(N'2024-03-03T16:12:27.907' AS DateTime), 13, N'Avoid dairy products')
INSERT [dbo].[Prescription] ([prescription_id], [delete_flag], [created_date], [doctor_id], [note]) VALUES (3, 0, CAST(N'2024-03-03T16:12:27.907' AS DateTime), 17, N'Take after breakfast')
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription Details] ON 

INSERT [dbo].[Prescription Details] ([prescriptionDetail_id], [prescription_id], [medicineId], [quantity], [dosageInstruction], [delete_flag]) VALUES (1, 1, 1, 2, N'Take twice daily', 0)
INSERT [dbo].[Prescription Details] ([prescriptionDetail_id], [prescription_id], [medicineId], [quantity], [dosageInstruction], [delete_flag]) VALUES (2, 1, 5, 1, N'Take once a day after meal', 0)
INSERT [dbo].[Prescription Details] ([prescriptionDetail_id], [prescription_id], [medicineId], [quantity], [dosageInstruction], [delete_flag]) VALUES (3, 2, 10, 3, N'Take thrice daily', 0)
SET IDENTITY_INSERT [dbo].[Prescription Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'Doctor')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([service_id], [service_name], [brief_info], [description], [price], [delete_flag]) VALUES (1, N'Cấy ghép implant', N'abc', N'bbc', 1000, 0)
INSERT [dbo].[Service] ([service_id], [service_name], [brief_info], [description], [price], [delete_flag]) VALUES (2, N'Chỉnh nha', N'abv', N'acs', 500, 0)
INSERT [dbo].[Service] ([service_id], [service_name], [brief_info], [description], [price], [delete_flag]) VALUES (3, N'Nhổ răng khôn', N'abc', N'abc', 800, 0)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [name], [date_created], [phone], [email], [img], [description], [salary], [role], [password], [delete_flag]) VALUES (1, N'lam', CAST(N'2024-02-22' AS Date), N'1234567890 ', N'string', N'string', N'string', 1, 1, N'abac                                              ', 0)
INSERT [dbo].[User] ([user_id], [name], [date_created], [phone], [email], [img], [description], [salary], [role], [password], [delete_flag]) VALUES (2, N'koby', CAST(N'2024-02-22' AS Date), N'1234567890 ', N'abv', N'acs', N'as', 2, 2, N'asLL                                              ', 0)
INSERT [dbo].[User] ([user_id], [name], [date_created], [phone], [email], [img], [description], [salary], [role], [password], [delete_flag]) VALUES (3, N'string', CAST(N'2024-02-29' AS Date), N'string     ', N'string', N'string', N'string', 0, 4, N'string                                            ', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_User]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_User1] FOREIGN KEY([patient_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_User1]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_User2] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_User2]
GO
ALTER TABLE [dbo].[Areas_of_expertise]  WITH CHECK ADD  CONSTRAINT [FK_Areas_of_expertise_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Areas_of_expertise] CHECK CONSTRAINT [FK_Areas_of_expertise_User]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_User] FOREIGN KEY([patient_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_User]
GO
ALTER TABLE [dbo].[Degree]  WITH CHECK ADD  CONSTRAINT [FK_Degree_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Degree] CHECK CONSTRAINT [FK_Degree_User]
GO
ALTER TABLE [dbo].[Foreign_Language]  WITH CHECK ADD  CONSTRAINT [FK_Foreign_Language_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Foreign_Language] CHECK CONSTRAINT [FK_Foreign_Language_User]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Appointment] FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([appointment_id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Appointment]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Prescription] FOREIGN KEY([prescriptionId])
REFERENCES [dbo].[Prescription] ([prescription_id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Prescription]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_User] FOREIGN KEY([patientId])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_User]
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord_User] FOREIGN KEY([patientId])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[MedicalRecord] CHECK CONSTRAINT [FK_MedicalRecord_User]
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord_User1] FOREIGN KEY([patientId])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[MedicalRecord] CHECK CONSTRAINT [FK_MedicalRecord_User1]
GO
ALTER TABLE [dbo].[MedicalRecord Details]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord Details_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([appointment_id])
GO
ALTER TABLE [dbo].[MedicalRecord Details] CHECK CONSTRAINT [FK_MedicalRecord Details_Appointment]
GO
ALTER TABLE [dbo].[MedicalRecord Details]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord Details_MedicalRecord] FOREIGN KEY([medicalRecord_id])
REFERENCES [dbo].[MedicalRecord] ([medicalRecordId])
GO
ALTER TABLE [dbo].[MedicalRecord Details] CHECK CONSTRAINT [FK_MedicalRecord Details_MedicalRecord]
GO
ALTER TABLE [dbo].[MedicalRecord Details]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord Details_Prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[Prescription] ([prescription_id])
GO
ALTER TABLE [dbo].[MedicalRecord Details] CHECK CONSTRAINT [FK_MedicalRecord Details_Prescription]
GO
ALTER TABLE [dbo].[MedicalRecord Details]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord Details_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[MedicalRecord Details] CHECK CONSTRAINT [FK_MedicalRecord Details_Service]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_User] FOREIGN KEY([author])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_User]
GO
ALTER TABLE [dbo].[Participating_training_courses]  WITH CHECK ADD  CONSTRAINT [FK_Participating_training_courses_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Participating_training_courses] CHECK CONSTRAINT [FK_Participating_training_courses_User]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_User] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_User]
GO
ALTER TABLE [dbo].[Prescription Details]  WITH CHECK ADD  CONSTRAINT [FK_Prescription Details_Medicine] FOREIGN KEY([medicineId])
REFERENCES [dbo].[Medicine] ([id])
GO
ALTER TABLE [dbo].[Prescription Details] CHECK CONSTRAINT [FK_Prescription Details_Medicine]
GO
ALTER TABLE [dbo].[Prescription Details]  WITH CHECK ADD  CONSTRAINT [FK_Prescription Details_Prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[Prescription] ([prescription_id])
GO
ALTER TABLE [dbo].[Prescription Details] CHECK CONSTRAINT [FK_Prescription Details_Prescription]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
